<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img src="http://mt.0578app.com/api/wx_media/?mp=http://mmbiz.qpic.cn/mmbiz_gif/iaiaWtmb2ZdWATK3Z1sIuZa4QkUDrFP03RvnHC2AdZxFd0jaOWP6cgucsk53jgvNJM7g8aFxo6e6v3Ja8bM1O6tg/0?wx_fmt=gif" alt="">
<img src="http://mt.cn/api/wx_media/?mp=http://mmbiz.qpic.cn/mmbiz_gif/iaiaWtmb2ZdWATK3Z1sIuZa4QkUDrFP03RvnHC2AdZxFd0jaOWP6cgucsk53jgvNJM7g8aFxo6e6v3Ja8bM1O6tg/0?wx_fmt=gif" alt="">
</body>
</html>